<div id="flexRow">
    <!-- cols images -->
    <% 
        var icols = query.icols == undefined ? 2 : +query.icols;
        for( var d=1; d<=icols; d++) { %>
            <div class="pm1" style="width: 350px">
                <% if ( images != undefined && images.length > 0) { %>
                <% for ( var i=0; i < days.length   ; i++ ) { var img = imageSample(); %>
                    <img class="pm1" style="border-radius: 12px;" src="/<%= img %>?resize=<%= size %>" title="<%= img.substr(12) %>" onclick="this.style.display='none';">
                <% }; %>
            </div>
        <% } %>
    <% } %>

    <!-- cols text, days -->
    <% 
        var cols = query.cols == undefined ? 2 : +query.cols;
        for( var d=1; d<=cols; d++) { %>
        <div class="pm1" style="width: 350px">
            <% for ( var i=d; i < days.length; i+=cols ) { var day = days[i-1]; %>
                <div style="float: left; width: 350px; margin: 6px;">
                    <div style="background-color: rgb(255, 132, 31); border-radius: 12px;">
                        <h3><%= day.dd_mm_yyyy() %> <%= day.title %></h3>
                        <% var j=1; day.pas.forEach( (pa) => { 
                            var kitesessionTagAndDaysDetailsTemplate = pa.tag != undefined && pa.tag == "kitesession" && params.template == "days-details";
                            %>
                            <div style="padding: 6px; background-color: rgb(235, 184, 143);">
                                <h3><%= pa.title %></h3>
                                <% if ( ! kitesessionTagAndDaysDetailsTemplate ) { %>
                                    <span style="padding: 6px;"><%= pa.text %><%# .split('').sort(function(){return 0.5-Math.random()}).join('') %></span>
                                <% } %>
                            </div>
                        <% j++; }); if (day.img != undefined && day.img != '') { %>
                            <img src="/<%= day.img %>?resize=<%= size %>"style="border-radius: 0 0 12px 12px;" title="<%= day.img.substr(12) %>">
                        <% } else { %>
                            <div style="padding: 6px; background-color: rgb(235, 184, 143); border-radius: 0 0 12px 12px;"></div>
                        <% } %>
                    </div>
                </div>
            <% }; %>
        </div>
    <% }; %>
</div>
<script>setQuery('?icols=2&cols=2');</script>