<div id="flexRow">
    <!-- cols images -->
    <%- include("images"); %>

    <!-- cols text, days -->
    <% 
        var cols = query.cols == undefined ? 2 : +query.cols;
        for( var d=1; d<=cols; d++) { %>
        <div class="pm1" style="width: 350px">
            <% for ( var i=d; i <= pas.length; i+=cols ) { var pa = pas[i-1]; %>
                <div style="float: left; width: 350px; margin: 6px;">
                    <div style="background-color: rgb(255, 132, 31); border-radius: 12px;">
                        <h3>#<%= (i <= 9 ? '0' : '') + i %>. <%= pa.dd_mm_yyyy() %> <%= pa.title %></h3>
                        <div style="padding: 6px; background-color: rgb(235, 184, 143);">
                            <span style="padding: 6px;"><%- pa.text %><%# .split('').sort(function(){return 0.5-Math.random()}).join('') %></span>
                        </div>
                    </div>
                    <div style="padding: 6px; background-color: rgb(235, 184, 143); border-radius: 0 0 12px 12px;"></div>
                </div>
            <% }; %>
        </div>
    <% }; %>
</div>
<script>setQuery('?icols=2&cols=2');</script>