<div id="flexRow">
    <% if ( images != undefined && images.length > 0) { %>
        <div class="pm1" style="width: 350px">
        <% for ( var i=0; i < pas.length / 3; i++ ) { var img = imageSample(); %>
            <img class="pm1" style="border-radius: 12px;" src="/<%= img %>?resize=<%= size %>" title="<%= img.substr(12) %>">
        <% }; %>
        </div>
    <% } %>
    <div class="pm1" style="width: 700px">
        <% var i=1; pas.forEach( (pa) => { %>
        <div style="width: 100%; background-color: rgb(54, 184, 216); border-radius: 12px; margin: 6px; float: left;">
            <span style="margin: 6px; float: right;"><%= pa.tag %></span>
            <h3>#<%= (i <= 9 ? '0' : '') + i %>. <%= pa.dd_mm_yyyy() %> <%= pa.title %></h3>
        </div>
        <% i++; }); %>
    </div>
</div>